/* ===== DUAL RING LOADER ===== */

.loader {
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

.is-hidden {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #4e75ff;
    /* основной цвет */
    border-color: #4e75ff transparent #4e75ff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}